<!DOCTYPE html>
<html>
    <head>
        <link href="../../style/register.css" rel="stylesheet">
        <title></title>
    </head>
    <body>
        <div class="card">
            <div class="title">
                <h1>HANGMAN</h1>
            </div>

            <form method="post">
                <label class="container">
                    <input type="radio" name="difficulty" value="easy" />
                    <div class="checkmark"></div>
                </label>
                <div class="difficulty">
                    <p>Facile</p>
                </div>

                <label class="container">
                    <input type="radio" name="difficulty" value="normal" />
                    <div class="checkmark"></div>
                </label>
                <div class="difficulty">
                    <p>Normale</p>
                </div>

                <label class="container">
                    <input type="radio" name="difficulty" value="hard" />
                    <div class="checkmark"></div>
                </label>
                <div class="difficulty">
                    <p>Difficile</p>
                </div>

                <div class="input-wrapper">
                    <input class="input-box" type="text" name="username" placeholder="Enter your username">
                    <span class="underline"></span>
                </div>

                <div class="btn">
                    <button class="button1" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Play&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
            </form>
        </div>
    </body>
</html>
