<!DOCTYPE html>
<html lang = "fr">
    <head>
        <link href="../../style/shop.css" rel="stylesheet">
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique</title>
    </head>
    <body>
        <div class="shop">
            <img src ="https://s3-alpha-sig.figma.com/img/4df0/bda3/3a876d4c6baf9aa8341955363e2063a7?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hfFsYh075abjzAFgBzUV4kvvLIalDyWxQC0ppcoQambonARzhQ3LrDBw8JMy9xQXXSE57z8Ia-ghpQVpICIAB7rvR-qCEkJPCTx0ZPvTs~rzxMYz8csjWoQw3H-nF8afGdcC5Q106xLtyiZc9rSGgot8sxsGF5u3EjmmjYgarN59IjsOvDjueKLN5VrUeECEvaUvij1NjCYbfuPRIgkMGAUmtM3uiXmhZ0lqgKgV6J9kZE0dFOCHhWPsXFaU8IMRZT~RQtPJITF9sgTDwoI~GL-5aWgzZT6q5Xq4bc0IUZkXKvKtNqBgdGZMkSou-6kapGwHbnhUTl5eA5Q8qXGoKQ__">
        </div>
        <div class="cadre">
        </div>
        <div class="heart">
            <img src ="https://s3-alpha-sig.figma.com/img/de4c/4ce1/35c355458be75f323c24a22113b72c76?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=aN-ztIRlVJp7Df9LG9Cgsg43qbRX6gXkZORqwkd9JN8k5vHufKvEXuoOJC1L3ELKgVdKwPPrGSmNmyY88ZKlQzMuxzWIepgDQpeYQaLtiOAg-~HIraIXoxPnQr2wd9lgrLNi5Zwj3AE43D5ElppK6rlsXlmomiM99sDy2uNlLSoj7QA-CHDGSBr9lAHvhvR7d2rJuIT1J24P5YZHK0zTACVSMBcX45G5qdc41UpeswcU0PiDP~fg2KHLQeVuA0BlsvvRRFzkgJxmi4gFCeK7NPvL5GS4krXWYQwclYk2Rv5AqpZnBz-BvrbgEZyg8iogRaAXGZooEauZwe8r2c6cWg__" width="180px">
        </div>
        <div class="ExtraLife">
            <img src ="https://s3-alpha-sig.figma.com/img/a18f/55b1/901e8880f3d1bcb9deefe3fdef1308e2?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XI6qqccoJznS~lfEG7qPtjRkj0Xp6hxw7QngztqHGFLk55zxb5DVmnf29nJhGiQqwDER-QpGOBoisE7H0yJe1NvbXJYaIJZ37mS1Aik~QmzwBEUiLUoyCGOT0P93Drd8qSKYVGh9WyUy7zkKYRMpMfyF6g7e7qP-rc9cTC7vwC5tAQ99qFN92urOsoIPKYW8jhdbwTsnzOL0XlvoQoxbacDAgDyYA3vtRBoeN4t~H6eNbHxwkIweaNdQaYMGoxH~5yYOxMkezJ0tSli9cCT0~W3eg45UeQVTqhdoJr215p81GLjcVSCXLgLKD0bV58FianpJbMOrjAOFqz17zN71HQ__" width="130px">
        </div>
        <div class="TextExtraLife">
            <img src ="https://s3-alpha-sig.figma.com/img/224b/2603/c7d810a9ac1bd78a77ef0b1e6d2d8cbe?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Al8Rzmu86GaRq-fU0Je-rkwd5Aw~Ozf-X2b9VNaAN6sa-6E9dvDS0hRNzjE~KpVHU56NYPuEdVOrhoN-RL1VW~FNL8TBjhMrSR054UI6i-kLC0i7JCgA2hZdPVK7THec8KkrEUF49Y6JJD4OXdAomDUGOdrtcBuHgKJT5HcqXKsdCRwgYCsa6yf2F1waGqVNRvle5hqmad1mh2tn7RkX4a~zKu4pgMZOPzNozVZ9MVHii4Nd3OfHq~SygoMCM6aRzN1Hyr~t3JmddBXgPyzMAITqBQxMGZgnIN-~26dJ4G8Egckrso5Ck9lDEvP8xcuoIWyWlHmwmpQ2aCxlWh9r5Q__" width="507px">
        </div>
        <div class="OmbreNoir1">
        </div>     

        <form method="post" action="/buy-spell1">
            <button type="submit">Sort1</button>
        </form>
        <form method="post" action="/buy-spell2">
            <button type="submit">Sort2</button>
        </form>
        <form method="post" action="/buy-spell3">
            <button type="submit">Sort3</button>
        </form>
    </body>
  
        
</html>