<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../style/account.css">
        <title>Reset Password</title>
    </head>
    <body>
        <div class = "titre">
            <h1>ACCOUNT</h1>
        </div>
            <div class="container">
                <div class="card">
                    <a class="login">Reset Password</a>
                    <form class="form" method="post" action="/account">
                        <div class="inputBox">
                                <input type="password" name="password">
                            </form>
                            <span>Confirm new password</span>
                            <button class="enter" type="submit">Enter</button>
                        </div>
                    </form>
                </div>
            </div>
    </body>
</html> 