<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../style/admin.css">
      <title>Admin Panel</title>
     </head>
     <body>
         <div class = "titre">
            <h1>ADMINISTRATION PAGE</h1>  
         </div>

         <div class="account">
            <a href = "http://localhost:8080/account">
               <button class="btn"><span></span><p data-text="Change password" data-title="Administrator Account"></p></button>
            </a> 
         </div>

         <div class="shop">
            <a href = "http://localhost:8080/manageshop">
               <button class="btn"><span></span><p data-text="Reset shop" data-title="Manage Shop"></p></button>
            </a>
         </div>
         
         <div class="scoreboard">
            <a href = "http://localhost:8080/managescoreboard">
               <button class="btn"><span></span><p data-text="Reset Scoreboard" data-title="Manage Scoreboard"></p></button>
            </a> 
         </div>
         
         <div class="hangoftheday">
            <a href = "http://localhost:8080/adminhodt">
               <button class="btn"><span></span><p data-text="Change word" data-title="Manage Hang of the day"></p></button>
            </a>
         </div>

         <div class="managegame">
            <a href = "http://localhost:8080/manage">
               <button class="btn"><span></span><p data-text="Settings" data-title="Manage Game"></p></button>
            </a>
         </div> 


         <div class="home">
         <a href="http://localhost:8080/home">
            <button>Go back home</button>
         </a>
      </body>
</html>  