<!DOCTYPE html>
<html>
<head>
    <link href="../../style/registercustom.css" rel="stylesheet">
    <title>Settings</title>
</head>
<body>
    <div class="card">
        <div class="title">
            <h1>CUSTOM</h1>
        </div>

        <form method="post">
            <label class="container">
                <input type="radio" name="difficulty" value="easy" />
                <div class="checkmark"></div>
            </label>
            <div class="difficulty">
                <p>Easy</p>
            </div>

            <label class="container">
                <input type="radio" name="difficulty" value="normal" />
                <div class="checkmark"></div>
            </label>
            <div class="difficulty">
                <p>Normal</p>
            </div>

            <label class="container">
                <input type="radio" name="difficulty" value="hard" />
                <div class="checkmark"></div>
            </label>
            <div class="difficulty">
                <p>Hard</p>
            </div>

            <div class="input-wrapper">
                <input class="input-box" type="text" name="life" placeholder="Life...">
                <span class="underline"></span>
            </div>

            <div class = "items">
                <label>Item :
                    <input type="checkbox" name="item" unchecked>
                </label>
            </div>


            <div class = "multi">
                <label>Multiplayer :
                    <input type="checkbox" name="multiplayer" unchecked>
                </label>
            </div>

            <div class="btn">
                <button class="button1" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Play&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
    	</form>
    </div>
</body>
</html>
