<!DOCTYPE html>
<html lang = "fr">
    <head>
        <link href="../../style/shop.css" rel="stylesheet">
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
    <body>
        <div class="shop">
            <img src ="https://s3-alpha-sig.figma.com/img/4df0/bda3/3a876d4c6baf9aa8341955363e2063a7?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hfFsYh075abjzAFgBzUV4kvvLIalDyWxQC0ppcoQambonARzhQ3LrDBw8JMy9xQXXSE57z8Ia-ghpQVpICIAB7rvR-qCEkJPCTx0ZPvTs~rzxMYz8csjWoQw3H-nF8afGdcC5Q106xLtyiZc9rSGgot8sxsGF5u3EjmmjYgarN59IjsOvDjueKLN5VrUeECEvaUvij1NjCYbfuPRIgkMGAUmtM3uiXmhZ0lqgKgV6J9kZE0dFOCHhWPsXFaU8IMRZT~RQtPJITF9sgTDwoI~GL-5aWgzZT6q5Xq4bc0IUZkXKvKtNqBgdGZMkSou-6kapGwHbnhUTl5eA5Q8qXGoKQ__">
        </div>

        <div class="money">
            <img src="https://s3-alpha-sig.figma.com/img/b146/1c17/9600416d4b4cbe982f2aaab40573dbbb?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pfSCwcXt6OcUocu1qcGp5NlcizyrZY1vhK3w8-PnDvdP7-Oo3r9YqgPwhABWx5BSqjIuOP8eJY-c14GFrj5D8mUFvqXDej3eNAjRwbE52GwnIPbFk~6z8SblCEmD2-XRt2lLh~1d9wJIlDlOh2I25mlxN39vxcjmu~WOhs6YwX28U6ie2le~AxlBFzC1V5LSIPeQkHOERgPTWSQXfEHar9TuNHBlYd0g4lKRzgsY-aDEbP7XOy9d1oDjofm-dRz~XL94cc~I9l7pcCsiXOG~GgV4sVG14gxkXUY~KWb2nvP51HK7HvOSIW87ybqZBdsGBFr9pOHq1jT8VqRsRkG8bA__" width="70px">
            <h1>{{.Money}}</h1>
        </div>

        <div class="cadre">
        </div>
        <div class="heart">
            <img src ="https://s3-alpha-sig.figma.com/img/de4c/4ce1/35c355458be75f323c24a22113b72c76?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=aN-ztIRlVJp7Df9LG9Cgsg43qbRX6gXkZORqwkd9JN8k5vHufKvEXuoOJC1L3ELKgVdKwPPrGSmNmyY88ZKlQzMuxzWIepgDQpeYQaLtiOAg-~HIraIXoxPnQr2wd9lgrLNi5Zwj3AE43D5ElppK6rlsXlmomiM99sDy2uNlLSoj7QA-CHDGSBr9lAHvhvR7d2rJuIT1J24P5YZHK0zTACVSMBcX45G5qdc41UpeswcU0PiDP~fg2KHLQeVuA0BlsvvRRFzkgJxmi4gFCeK7NPvL5GS4krXWYQwclYk2Rv5AqpZnBz-BvrbgEZyg8iogRaAXGZooEauZwe8r2c6cWg__" width="180px">
        </div>
        <div class="ExtraLife">
            <img src ="https://s3-alpha-sig.figma.com/img/a18f/55b1/901e8880f3d1bcb9deefe3fdef1308e2?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XI6qqccoJznS~lfEG7qPtjRkj0Xp6hxw7QngztqHGFLk55zxb5DVmnf29nJhGiQqwDER-QpGOBoisE7H0yJe1NvbXJYaIJZ37mS1Aik~QmzwBEUiLUoyCGOT0P93Drd8qSKYVGh9WyUy7zkKYRMpMfyF6g7e7qP-rc9cTC7vwC5tAQ99qFN92urOsoIPKYW8jhdbwTsnzOL0XlvoQoxbacDAgDyYA3vtRBoeN4t~H6eNbHxwkIweaNdQaYMGoxH~5yYOxMkezJ0tSli9cCT0~W3eg45UeQVTqhdoJr215p81GLjcVSCXLgLKD0bV58FianpJbMOrjAOFqz17zN71HQ__" width="120px">
        </div>
        <div class="TextExtraLife">
            <img src ="https://s3-alpha-sig.figma.com/img/224b/2603/c7d810a9ac1bd78a77ef0b1e6d2d8cbe?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Al8Rzmu86GaRq-fU0Je-rkwd5Aw~Ozf-X2b9VNaAN6sa-6E9dvDS0hRNzjE~KpVHU56NYPuEdVOrhoN-RL1VW~FNL8TBjhMrSR054UI6i-kLC0i7JCgA2hZdPVK7THec8KkrEUF49Y6JJD4OXdAomDUGOdrtcBuHgKJT5HcqXKsdCRwgYCsa6yf2F1waGqVNRvle5hqmad1mh2tn7RkX4a~zKu4pgMZOPzNozVZ9MVHii4Nd3OfHq~SygoMCM6aRzN1Hyr~t3JmddBXgPyzMAITqBQxMGZgnIN-~26dJ4G8Egckrso5Ck9lDEvP8xcuoIWyWlHmwmpQ2aCxlWh9r5Q__" width="507px">
        </div>
        <div class="OmbreNoir1">
        </div>
        <form method="post" action="/buy-spell1">
            <button type="submit" class="ButtonWhite1">
                <div class="Piece1">
                    <img src="https://s3-alpha-sig.figma.com/img/b146/1c17/9600416d4b4cbe982f2aaab40573dbbb?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pfSCwcXt6OcUocu1qcGp5NlcizyrZY1vhK3w8-PnDvdP7-Oo3r9YqgPwhABWx5BSqjIuOP8eJY-c14GFrj5D8mUFvqXDej3eNAjRwbE52GwnIPbFk~6z8SblCEmD2-XRt2lLh~1d9wJIlDlOh2I25mlxN39vxcjmu~WOhs6YwX28U6ie2le~AxlBFzC1V5LSIPeQkHOERgPTWSQXfEHar9TuNHBlYd0g4lKRzgsY-aDEbP7XOy9d1oDjofm-dRz~XL94cc~I9l7pcCsiXOG~GgV4sVG14gxkXUY~KWb2nvP51HK7HvOSIW87ybqZBdsGBFr9pOHq1jT8VqRsRkG8bA__" width="25px">
                </div>
                <div class="Cinquante">
                    <img src="https://cdn.discordapp.com/attachments/1164477465993957386/1202014745159270460/eef4d3e52e3a9ab6c2cb18178d5ad706.png?ex=65cbea77&is=65b97577&hm=0f11864ab6d6886e60c812aa357a5b1126f5e28827a4950416fd59618c7ba291&"width="25px">
                </div>
                <div class="Buy1">
                    <img src="https://s3-alpha-sig.figma.com/img/dc40/321d/ddb75cd860cd6df212a205bd63ccafe3?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Gq2wWLZEjyxGOcNKOrogPH-8xzDBZwPYq40URhNdhjvkl7X2mukP0NlTVxZZhTzQrBZR6T24fCHrRXpDkfa8bNquN3FZ7onjhXEov1unuK1kMkC1KhqeFOSHDwVjof7xy7EXRrRZJnngo7zqFFcPUzUYF3c2jxBCK8DMXUJWemh6AiYGn085aOOIFK4VK1VoXYc5ychTivyS0Xbv9a~VBNfq1nH7CW6I0Ge6iFeIQ0RWw5U9WGJt-dlDBuuTErO4Tap2dbvGfbsgGe3tLC2tFGaj-GeXBSQuoI3b5NR2R3IdikuCZITYc5-ZACreSacNElaTjUb6s7Rp6V1lKx0YRA__" width="40px">
                </div>
            </button>
        </form>
        <div class="Stars">
            <img src ="https://s3-alpha-sig.figma.com/img/ebff/189a/f0b50ce1c98525a68855a4a5a2ab620d?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=E22-DZUWnbFnQsKWtvCg-TRtybqcOloz~6L0PTY6XolQBb2B37OYF2SG6NGauvsC9r1xh4n~SY67Jhgf16AjdRLzwpLD2Cr5q8CZgyiisY1Wves5XQT0ILZekybl7HsELfFawaCMVe5jgBmEyHvApey9-9afDVb~whr3juh8WzC85hy-BXcdwu78ncFipuNqqJ6XcdLmOV6agZRmGNG8alVbzfwubIrqlHmx8sRtcewNKjd~w~xszTsjeiSlFMJlcIXJFUtOszembYhGPYuWK1AorMSNE2FeBtO24eGO~Z3AZ0X4wsdTpXLb3z0FoMy8pSILoKcvhOABhyT4ksufkw__"width="100px">
        </div>
        <div class="DoublePoints">
            <img src="https://s3-alpha-sig.figma.com/img/c68a/0bda/12dd7759a7d1175adaeef73c8dc2ceef?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ELTAReukd78oeCn07J6~1At9iGgtv~XyEOPT4ILWUzRhXUNdIun4M6lHbFuekC3GFI2BLu2qpM4qB2V6gXkK3Nz1y~OTMsaptnLmuvCk7gkyV7Ks9Ihtct99NXPGHR~Eh-AIS6inEL4n97gS1cVt1h7TR8A1nZvuQTl7Vv-h~BKlarh~WgII7fjVN9qmLAUP-4iXkI4ykjhK~dwQJ2FCxJhhHtMxhOAAIriQLgzapp4I8f6Svkk--r2jlQty5NGBhGYRSRFxKKNR50K3EtfDd-u8Yh7JzYAvhLiWcV6fzHYQnWEPuiC6EUqPx4q~W1e9ueU7Lnl8Zwli~uhp4gnHeQ__" width="170px">
        </div>
        <div class="TextDoublePoints">
            <img src="https://s3-alpha-sig.figma.com/img/ed0e/3c92/73bf9b6ffcc58f04ff41dab8e9b15531?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=e8UJoqyvNMbrFUdjskrGfFGmDxTZHV-6qo4~qhDdrPbaq39pSHmmTBhFqTNsTJcX8VmN-WgwYjdhOfmRcFdBOr6PN~s52Tkq2CMwReeUM17hUkCcztn6wGvgYsZ2D8SNPLnann1J94-g6LvGkDQHuIRVq2kfmTRxQwlzVHbS1-6awGgjaOpfAjwnRaaaoTHGO80347f09WNuj09hf8sW5ZY-qPfly2uvInXn-jAL-3uKvpYZvfsQreqFu2~5~sA02D~xiSowtl8GpDxA-j0r8DVRbOfuYvCJtePd6oT9WyZ1R6MqUtNC1urRv34z940xKgPS30~8Sy6nGdbZDPbjdg__" width="800px">
        </div>
        <class class ="OmbreNoir2">
        </class>
        <form method="post" action="/buy-spell2">
            <button type="submit" class ="ButtonWhite2">
                <div class="Piece2">
                    <img src="https://s3-alpha-sig.figma.com/img/b146/1c17/9600416d4b4cbe982f2aaab40573dbbb?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pfSCwcXt6OcUocu1qcGp5NlcizyrZY1vhK3w8-PnDvdP7-Oo3r9YqgPwhABWx5BSqjIuOP8eJY-c14GFrj5D8mUFvqXDej3eNAjRwbE52GwnIPbFk~6z8SblCEmD2-XRt2lLh~1d9wJIlDlOh2I25mlxN39vxcjmu~WOhs6YwX28U6ie2le~AxlBFzC1V5LSIPeQkHOERgPTWSQXfEHar9TuNHBlYd0g4lKRzgsY-aDEbP7XOy9d1oDjofm-dRz~XL94cc~I9l7pcCsiXOG~GgV4sVG14gxkXUY~KWb2nvP51HK7HvOSIW87ybqZBdsGBFr9pOHq1jT8VqRsRkG8bA__" width="25px">
                </div>
                <div class="Trente">
                    <img src="https://cdn.discordapp.com/attachments/1164477465993957386/1202014745377652776/19e5b14e58370f2bdb32820514e7d1eb.png?ex=65cbea77&is=65b97577&hm=d922682884ccb70da837a2900a78eaaa135cb35f98fedc4b8997e9470b6d7908&" width="25px">
                </div>
                <div class="Buy2">
                    <img src="https://s3-alpha-sig.figma.com/img/dc40/321d/ddb75cd860cd6df212a205bd63ccafe3?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Gq2wWLZEjyxGOcNKOrogPH-8xzDBZwPYq40URhNdhjvkl7X2mukP0NlTVxZZhTzQrBZR6T24fCHrRXpDkfa8bNquN3FZ7onjhXEov1unuK1kMkC1KhqeFOSHDwVjof7xy7EXRrRZJnngo7zqFFcPUzUYF3c2jxBCK8DMXUJWemh6AiYGn085aOOIFK4VK1VoXYc5ychTivyS0Xbv9a~VBNfq1nH7CW6I0Ge6iFeIQ0RWw5U9WGJt-dlDBuuTErO4Tap2dbvGfbsgGe3tLC2tFGaj-GeXBSQuoI3b5NR2R3IdikuCZITYc5-ZACreSacNElaTjUb6s7Rp6V1lKx0YRA__" width="40px">
                </div>
            </button>
        </form>
        <div class ="Book">
            <img src ="https://s3-alpha-sig.figma.com/img/c7af/4982/32a6c5bdcf905fabb64312065abdac15?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gcAhDsDxGTVB5UZ9HPl21Efmwif8ysIjnIuZsTvrmtBUsrClBNB3dJRt7NyJ2cuqaxfk6rDTz9lZQerTHlDakX68nI20qSBQtZQExVVEDNTTX0behSTTsV1PaIirFOMh-UIC1ftj-t3a2WUSTL5JsIksVPQ~~EuO3G~McJGsNjGwTkgRwqhjOMLiyiSowWMPvtNRJ8KYegcSwlOrVUyNZ-SBJuxxqbGt6FWLSJ74S7M5hiAgsrHNwgQftj79BJuU8KX67kB~EaOjeLf7NdoPP6AxsxXi38cnhiz5Loa2DunFAwxi4RuSzgaglyTQe7M9tG~UCSI-BLqGJMTkBuBhZw__" width="140px">
        </div>
        <div class="ExtraClue">
            <img src="https://s3-alpha-sig.figma.com/img/5194/9647/3facd2878cd06f1d13c3a1b2ea696728?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=S7R0DYnSwowJwqrouMPixJ7-Nc3FFCYWbm0wB4kyJ1gW7~a8lbFjvBT-xuCcMgvRNqVxHFZDFDYpt2j1SOnWUR4E1AU1vDCTF0W2bwS0dkPUKPKmwL3lsx3Sx83JPSkBMqYOoLwyQE9gHCz5tK4gsfwyK7ngPm3gwDfCJLc1IvvTRRsuX0pR9zGBioEsSu-QK8~XDbkkh0QIGpVIiF-0AqfVbCE35ExJHX48S5jDo4xQ2nO2OX4HK~yavSqrpbNazy~Jh0NTIpD8bezjx2sE4TAAY4HxY7gUgvZZWyWgbm988i2UnzLB0H~Gy4WdaCzjExpA3Wr0p0haRiNRvpY0IQ__" width="150px">
        </div>
        <div class="TextExtraClue">
            <img src="https://s3-alpha-sig.figma.com/img/51d4/ab17/d677d36de3625a21ee094d3891eb93d5?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=U8pQeW7yjzw-f7zIQM9WSLgn1BE1z3HJ0PkuNyQHJxRctyrDnY22PEeTvTpyjztBzTNG4rt6k-4Kt9JKRAxbkjFM0fEfA8~vRIq5DoByF8IwauKycfAlo~1~BQe-2AFJt8~k2h8udagMAWD1EWjSIEEih9rrPvjUrcg1LVtKUh8lXj0hoc6wBhTisM0l3ortyvmxNWhAC9o5CGryqI-tx1pyrNU6TETRAgRUpgVdA3Tabm7PfxhBoZH~4iNGE2QchX5yjAOUPThmaSkrL-GPQOLPJTIvsAdDg61JrCCGNFf~bjxK5RP2ZvybSeFcRSNZpPZQuPYlgHn-Ut2~u266LQ__"width="750px">
        </div>
        <div class="OmbreNoir3">
        </div>
        <form method="post" action="/buy-spell3">
            <button type="submit" class="ButtonWhite3">
                <div class="Piece3">
                    <img src="https://s3-alpha-sig.figma.com/img/b146/1c17/9600416d4b4cbe982f2aaab40573dbbb?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pfSCwcXt6OcUocu1qcGp5NlcizyrZY1vhK3w8-PnDvdP7-Oo3r9YqgPwhABWx5BSqjIuOP8eJY-c14GFrj5D8mUFvqXDej3eNAjRwbE52GwnIPbFk~6z8SblCEmD2-XRt2lLh~1d9wJIlDlOh2I25mlxN39vxcjmu~WOhs6YwX28U6ie2le~AxlBFzC1V5LSIPeQkHOERgPTWSQXfEHar9TuNHBlYd0g4lKRzgsY-aDEbP7XOy9d1oDjofm-dRz~XL94cc~I9l7pcCsiXOG~GgV4sVG14gxkXUY~KWb2nvP51HK7HvOSIW87ybqZBdsGBFr9pOHq1jT8VqRsRkG8bA__" width="25px">
                </div>
                <div class="Quinze">
                    <img src="https://cdn.discordapp.com/attachments/1164477465993957386/1202014744933052426/60215c1685f9b7ead9e19f5e87bd9e8a.png?ex=65cbea77&is=65b97577&hm=7722541a7defafdf29adebc78f5a5d7422f443f8fb3032985d1e43411703f93d&" width="25px">
                </div>
                <div class="Buy3">
                    <img src="https://s3-alpha-sig.figma.com/img/dc40/321d/ddb75cd860cd6df212a205bd63ccafe3?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Gq2wWLZEjyxGOcNKOrogPH-8xzDBZwPYq40URhNdhjvkl7X2mukP0NlTVxZZhTzQrBZR6T24fCHrRXpDkfa8bNquN3FZ7onjhXEov1unuK1kMkC1KhqeFOSHDwVjof7xy7EXRrRZJnngo7zqFFcPUzUYF3c2jxBCK8DMXUJWemh6AiYGn085aOOIFK4VK1VoXYc5ychTivyS0Xbv9a~VBNfq1nH7CW6I0Ge6iFeIQ0RWw5U9WGJt-dlDBuuTErO4Tap2dbvGfbsgGe3tLC2tFGaj-GeXBSQuoI3b5NR2R3IdikuCZITYc5-ZACreSacNElaTjUb6s7Rp6V1lKx0YRA__" width="40px">
                </div>
            </button>
        </form>

        <div class="home">
        <a href="http://localhost:8080/home">
            <button>Go back home</button>
        </a>
        </div>
    </body>
</html>